<h1> These are all the members: </h1>
<form action="/members/new" method="GET">
  <button type="submit" value="view">New Member</button>
</form>
  <ul>
  <% for member in @members %>
    <li>
    <p> Name: <%= member.full_name %></p>
    <p>Salary: £<%= (member.salary / 12.0).floor(2) %> / per month</p>
    <p>Github: <a href=""><%= member.github %> </a></p>
    <p>Projects: <% member.projects.each do |project| %>
      <%= project.name%>
      <% end %>
    <p>
      <form action="/members/<%= member.id %>" method="GET">
        <button type="submit" value="view">View</button>
      </form>
    </p>
    </li>
    <hr />
  <% end %>
  </ul>
