<h1> These are all the members: </h1>
<form action="/members/new" method="GET">
  <button type="submit" value="view">New Member</button>
</form>
  <ul>
  <% for member in @members %>
    <li>
    <p> <%= member.first_name%> <%= member.last_name %></p>
    <p>£<%= (member.salary / 12.0).floor(2) %> per month</p>
    <p><a href=""><%= member.github %> </a></p>
    <p>
      <form action="/members/<%= member.id %>" method="GET">
        <button type="submit" value="view">View</button>
      </form>
    </p>
    </li>
    <hr />
  <% end %>
  </ul>
