<h1> These are all the projects: </h1>
<form action="/projects/new" method="GET">
  <button type="submit" value="view">New Project</button>
</form>
  <ul>
  <% for project in @projects %>
    <li>
    <p> Project Name: <%= project.name%></p>
    <p>Budget: £<%= project.budget %></p>
    <p>Startdate: <%= project.start_date %></p>
    <p>Number of members: <%= project.members.length %></p>
    <p>Type of project: <%= project.type %></p>
    <p>
      <form action="/projects/<%= project.id %>" method="GET">
        <button type="submit" value="view">View</button>
      </form>
    </p>
    </li>
    <hr />
  <% end %>
  </ul>
