<h1> New Team for Project Form</h1>

<form action="/projectteams" method="post">
  <label>
  Select a Project:
    <select name="project_id">
      <% for project in @projects %>
      <option value="<%= project.id %>"><%= project.name %></option>
      <% end %>
    </select>
  </label>

  <label>
    Select a Colleague:
    <select name="member_id">
      <% for member in @members %>
      <option value="<%= member.id %>"><%= member.first_name %></option>
      <% end %>
    </select>
  </label>

  <p><%= @error if @error != nil %></p>

  <input class="btn btn--action" type='submit' value="Add">
</form>
